@import 'styles/variables';

.index-link-anchor {
  &:hover,
  &:focus {
    text-decoration: none;  
  }
}

.index-link-inner {
  color: black;
  transition: transform 0.2s;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.04);
    text-decoration: none;
  }

  h3 {
    color: $maroon;
  }
}
