.node-wrapper {
  position: relative;
  white-space: nowrap;
}

.cardano-node {
  background-color: #c8f2ff;
  border-radius: 18%;
  border: 2px solid blue;
  height: 60px;
  width:  80px;
}

.string-input {
  position: absolute;
}
